
.box{
    margin-left: 900px;
    margin-top: 90px;
}

.box-1{
    margin-top: -469px;
}

.box-2{
    margin-left: 900px;
}

.box-3{
    margin-left: 870px;
    margin-top: 15px;
}

.box-4{
    margin-top: 18px;
}